.ant-btn span,
.wallet-modal-title span,
.ant-modal-body span,
.ant-modal-body div {
  font-family: 'pixelFont', sans-serif;
}

.wallet-button {
  padding: 5px 10px;
  height: auto;
  border-radius: 6px;
  font-size: 16px;
  background-color: rgba(0, 0, 0, 0);
  color: white;
  backdrop-filter: blur(4px); /* 小的模糊效果，可以根据需要调整 */
}
.wallet-button:hover {
  color: rgb(192, 196, 255) !important;
  border-color: rgb(192, 200, 255) !important;
  background-color: rgba(0, 0, 0, 0.1) !important;
}

.wallet-modal-title {
  text-align: center;
  font-size: 1.5rem;
  line-height: 2rem;
  display: flex;
  flex-direction: column;
  margin-bottom: 32px;
}
.aptos-connect-button {
  color: #3f67ff;
  border-color: #3f67ff;
}

.aptos-connect-privacy-policy-wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.aptos-connect-privacy-policy-text {
  font-size: 12px;

  line-height: 20px;
}
.aptos-connect-privacy-policy-link {
  color: rgba(0, 0, 0, 0.5);
  text-decoration: underline;
  text-underline-offset: 4px;
}
.aptos-connect-privacy-policy-link:hover {
  text-decoration: underline;
}
.aptos-connect-powered-by {
  display: flex;
  gap: 6px;
  align-items: center;
  font-size: 12px;
  line-height: 20px;
  color: rgba(0, 0, 0, 0.5);
}
.wallet-menu-wrapper {
  display: flex;
  justify-content: space-between;
  font-size: 20px;
  border: solid 1px;
  border-color: rgba(0, 0, 0, 0.1);
  padding-inline: 16px;
  padding-block: 12px;
  border-radius: 8px;
}
.wallet-name-wrapper {
  display: flex;
  align-items: center;
}
.wallet-selector-icon {
  height: 24px;
  width: 24px;
  margin-right: 12px;
}
.wallet-selector-text {
  font-size: 14px;
}
.wallet-connect-button {
  align-self: center;
  background-color: #3f67ff;
  color: white;
  height: auto;
}
.wallet-connect-install {
  align-self: center;
  color: #3f67ff;
  padding-right: 16px;
  font-size: 16px;
  line-height: 32px;
}
:where(.wallet-selector-modal .ant-modal-body) {
  display: flex;
  flex-direction: column;
  gap: 16px;
}
:where(.wallet-selector-modal .ant-divider-inner-text) {
  color: rgba(0, 0, 0, 0.5);
}
:where(.wallet-selector-modal .ant-collapse-header) {
  justify-content: center !important;
  color: rgba(0, 0, 0, 0.5) !important;
}
:where(.wallet-selector-modal .ant-collapse-header-text) {
  flex: unset !important;
  margin-inline-end: 0 !important;
}
:where(.wallet-selector-modal .ant-collapse-content-box) {
  padding: 0px !important;
  padding-top: 8px !important;
}

/* -------------------------------------------------------------------- */
.account-button {
  color: white;
  text-decoration: none;
}

/* 鼠标悬浮状态的锚点样式 */
a:hover {
  color: rgb(102, 104, 255); /* 鼠标悬浮时文字变为红色 */
  cursor: pointer; /* 鼠标指针变为手形图标 */
}
